@layer base {
  .font-courier {
    font-family: 'Courier New', Courier, monospace;
  }
}
@import "tailwindcss";

:root {
  --background: #070710;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #070710;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Courier New', Courier, monospace;
}
